body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 50px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1, h2, h3, h4{
  font-family: 'Lato', sans-serif;
}

nav ul {
  list-style-type: none;
}

main {
  margin: 50px 100px;
  display: flex;
  flex-direction: row;
}

aside {
  background-color: #f3f4f5;
  min-width: 180px;
  padding: 20px 30px;
}

.content {
  min-width: 320px;
  padding: 20px 30px;
}

.contacts {
  margin-top: 50px;
}

.contacts_list {
  text-align: right;
}

.photo img{
  max-width: 260px;
  border-radius: 50%;
}

footer {
  background-color: #e1e1e1;
}

pre {
  overflow: auto;
  background-color: #f3f4f5;
}